<section class="page-section bg-primary text-white mb-0" id="about">
            <div class="container">
                <!-- About Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-white">Nosotros</h2>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <!-- <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div> -->
                </div>
                <!-- About Section Content-->
                <div class="row">
                    <div class="col-lg-4 ms-auto"><p class="lead">Somos un emprendimiento Familiar y Artesanal. Cumplimos 6 años de crear productos para vos y tus espacios. Diseños y una paleta de colores propia que crece para cada temporada. Productos Textiles, Deco, Telas por metro y Asesoramiento.</p></div>
                    <div class="col-lg-4 me-auto"><p class="lead">Elegí los diseños que mas te gusten de cada temporada, color y medida. Complementá los espacios con cerámica artesanal, aromas propios en spray y velas. </p></div>
                </div>
                <!-- About Section Button-->
                <div class="text-center mt-4">
                    <a class="btn btn-xl btn-outline-light" href="https://www.instagram.com/casa.china/?hl=es-la">
                        ¡Seguinos en Instagram!
                    </a>
                </div>
                <div class="text-center mt-4">
                    <a class="btn btn-xl btn-outline-light" href="https://www.casachinatienda.com.ar/productos/">
                        ¡Más Productos en la Tienda!
                    </a>
                </div>
            </div>
        </section>