<section class="page-section" id="contact">
    <br>

            <div class="container">
                <!-- Contact Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Suscripción</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <!-- <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div> -->
                </div>
                <!-- Contact Section Form-->
                 
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-xl-7">
                        <form  action="/suscribe" method="post" accept-charset="utf-8" id="subscribe-blog">
                         <div class="input-group mb-3">
                        <input name="id_email" type="email" class="form-control" placeholder="Escribí tu correo electrónico" aria-label="Escribí tu correo electrónico" aria-describedby="button-addon2">
                        <button class="btn btn-outline-secondary" type="submit" id="button-addon2"> ¡Quiero Suscribirme!</button>
                        </form>
                        </div>
                    </div>
                </div>
            
            </div>
        </section>

