<!DOCTYPE html>
<html lang="en">
    {{>head}}
    <body id="page-top">
        <!-- Navigation-->
        {{>nav}}
        <!-- Masthead-->
        {{>header}}
        <!-- Portfolio Section-->
        {{>productos}}
        <!-- About Section-->
        {{>nosotros}}
        <!-- Suscripcion Section-->
        {{>suscripcion}}
        <!-- Footer-->
        {{>footer}}
        <!-- Portfolio Modals-->
        {{>modal}}
        <!-- Bootstrap core JS-->
      {{>script}}
    </body>
</html>
